.container {
	max-width: 600px;
	margin: auto;
}

.first {
	height: 2rem;
	background: #dcd9d9;
	width: 100%;
	margin: 1rem;
}

.second {
	background: #a5dca5;
    height: 2rem;
    text-align: center;
}