.container {
	max-width: 600px;
	margin: auto;
}

.first {
	height: 2rem;
	background: #fff;
	margin: 1rem;
	border: 1px solid #8080807d;
}

.second {
	background: #a5ccdc;
    height: 2rem;
    text-align: center;
    max-width: 100%;
}

.barOverflow {
	background: red;
	/*width:100%*/
}

select, button {
	margin-left: 1.25rem;
	padding: 0.2rem;
}
@media screen and (min-width: 40rem) {
	select, button {
		margin: 1rem;
		padding: 0.2rem;
	}
}
h1 {
	padding-left: 20px;
	text-align: center;
}